<h1>Home Page</h1>

<div class="row">
  <div class="col-md-12 section-title-container">
    <span class="section-title">Top picks</span>
    <span class="action-button flex-right"><a>Submit for review</a></span>


  </div>
</div>


<div class="row">
  <div class="card-container">
    <div class="card">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Get through High School with </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Card title</h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">From Tier 3 to Top 3 </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">From Tier 3 to Top 3 </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>

    <div class="card">
      <img class="card-img-top" src="" alt="Card image cap">
      <div class="card-block">
        <h4 class="card-title">Three stories </h4>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <a href="#" class="btn btn-primary">Go somewhere</a>
      </div>
    </div>



  </div>
</div>


<div class="row">
  <div class="col-md-12">
    <h3>Stay assisted in your application</h3>
    <p>Receive news, advice, and stories from us and from your peers.</p>

    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1"></label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="Enter your email">
      </div>
    </form>

  </div>
</div>
